body {
    margin: 0;
}
#navigation {
    background-color: white;
}
#navigation div {
    margin: 0 auto;
    width: 700px;
}
img {
    width: 160px;
    height: 70px;
    vertical-align: middle;
}
ul, li {
    display: inline-block;
}
#navigation a {
    color: black;
    margin-left: 20px;
    font-size: 15px;
}
#header {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 350px;
    background-position-y: 30%;
}
#header div {
    margin: 0 auto;
    width: 500px;
    font-size: 40px;
    color: white;
    padding: 60px 0;
}
#header p {
    margin-bottom:10px;
}
#header a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    background-color: white;
    padding: 15px 20px;
    margin: 0 180px;

}
#footer {
    background-color: #F0F2F8;
    padding-top: 30px;
}
#footer div {
    box-shadow: 0 0 50px rgb(215, 215, 218);
    background-color: white;
    margin: 0 auto;
    width: 600px;;
    font-size: 15px;
    padding: 40px 40px 0px 40px;
}